.container {
    width: auto;
    margin: 10px auto;
    align-items: center;
}

.stories {
    margin-left: 10%;
    width: 50rem;
    height: 15rem;
    overflow-x: auto;
    /* display:inline-flex; */
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.card {
    flex: 0 0 auto;
}

.card,
.card-img,
.card-img-overlay {
    border: transparent;
    border-radius: 10px;
}

.others {
    display: inline-flex;
    margin-top: 10px;
    margin-right: 13px;
    width: 7.5rem;
    height: 12rem;
    background-color: #3b5998;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
}

.mine {
    margin-top: 10px;
    margin-right: 20px;
    width: 7.5rem;
    height: 12rem;
    background-color: #3b5998;
    -webkit-box-shadow: inset 0px 0px 3px 0px #FFFFFF;
    box-shadow: inset 0px 0px 3px 0px #FFFFFF;
}

.card-text {
    background-color: transparent;
}

.card-img,
.card-body {
    height: 100%;
    object-fit: cover;
}

.grad {
    background-image: linear-gradient(#3b589800, #2e4b88);
}

h6 {
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.dot {
    height: 60px;
    width: 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border: transparent;
    display: inline-block;
    justify-content: center;
    position: absolute;
    top: 60%;
}

.center-dot {
    display: flex;
    justify-content: center;
}

h2 {
    margin-top: 0px;
    font-size: 50px;
    /* position: absolute; */
    text-align: center;
}

.write-post {
    width: 80rem;
    height: 5rem;
    margin-top: 50px;
    margin-left: -135px;
    text-align: center;
    display: inline-flex;
}

#post {
    /* margin-top: 5%; */
    margin-left: auto;
    margin-right: auto;
    height: 3rem;
    width: 50rem;
    background: rgba(255, 255, 255, 0.14);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    border: 1px solid rgba(255, 255, 255, 0.29);
    padding-left: 30px;
    color: white;
}

#post:focus {
    background: rgba(255, 255, 255, 0.14);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    border: 1px solid rgba(255, 255, 255, 0.29);
    color: white;
}

::placeholder {
    color: rgb(213, 213, 213);
    opacity: 1;
}

.next-arrow {
    margin-top: 10%;
}

.posts {
    padding: 25px 10%;
}

.single-post {
    margin-bottom: 20px;
    padding: 20px;
    width: 50rem;
    background: rgba(255, 255, 255, 0.14);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    border: 1px solid rgba(255, 255, 255, 0.29);
}

.propic-name {
    display: inline-flex;
    margin: -15px 0 20px -15px;
}

/* .name{
    margin-top: 10%;
} */

.pro-pic {
    margin: 0px 15px;
    border-radius: 50%;
    object-fit: cover;
    height: 50px;
    width: 50px;
}

.logout {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: rgb(255, 255, 255);
    color: #FFF;
    border-radius: 50px;
    border-color: transparent;
    text-align: center;
    color: #2e4b88;
}

.propic-self {
    float: right;
    margin: 10px 50px 10px 0;
    border-radius: 50%;
    object-fit: cover;
    height: 45px;
    width: 45px;
}

.name-self {
    color: white;
    float: right;
    margin: 25px 20px 10px 0;
}

.white-head {
    background: #21386b;
    box-shadow: 0 4px 10px rgba(250, 250, 250, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    /* border-bottom: 1px solid #132347; */
    height: 70px;
    width: 100%;
}

#fbLogo {
    margin: 10px 0px 5px 40px;
    height: 50px;
    width: auto;
    float: left;
}


#storyUpload {
    display: block;
    visibility: hidden;
    height: 0;
    width: 0;
}


/*Scrollbar custommize*/
.stories {
    scrollbar-color: #D4AA70 #e4e4e4;
}

.stories::-webkit-scrollbar {
    width: 15px;
    height: 7px;
}

.stories::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

.stories::-webkit-scrollbar-thumb {
    background-color: #939cb2f1;
    border-radius: 100px;
}

img[src=""] {
    display: none;
}


.friends {
    color: white;
    margin-top: 7%;
    margin-left: -100px;
}

.friendpic-name {
    width: 15rem;
    padding: 10px 0px;
    display: inline-flex;
    margin: -15px 0px 25px -15px;
    padding-right: 20px;
    /* From https://css.glass */
    background: rgba(4, 45, 105, 0.34);
    border-radius: 16px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(4, 45, 105, 0.3);
}

/* .name{
    margin-top: 10%;
} */

.friend-pic {
    margin: 0px 15px;
    border-radius: 50%;
    object-fit: cover;
    height: 30px;
    width: 30px;
}

.friendIcon{
    margin-bottom: 30px;
    color: #07224dda;
}

.fullS{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    background-color: #21386b;
}


.fullImage{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fullStory{
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.closeButton{
    margin: 10px 0 0 10px;
    background: transparent;
    border: none;
}
